<div id="home-container">
  <%= render partial: "header" %>

  <div class="top text-center">
    <h3>Find Your Dream Car</h3>
    <h4>Sit back and let us do the work for you</h4>
    <p>
      We created a very easy and convenient way to search for cars without even leaving your house
    </p>
  </div>

  <div class="list ">
    <div class="sign-up col-md-4 text-center">
      <div class="font-a">
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>
      <div class="text">
        Sign up to start using our services
      </div>
    </div>

    <div class="create-auction col-md-4 text-center">
      <div class="font-a">
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
      </div>
      <div class="text">
        Create an auction for the car you want
      </div>
    </div>

    <div class="wait col-md-4 text-center">
      <div class="font-a">
        <i class="fa fa-magic" aria-hidden="true"></i>
      </div>
      <div class="text">
        Relax while your local dealers compete to give you the best price
      </div>
    </div>
  </div>

  <div class="start">
    Start Looking for your dream car
    <a href="/signup"><button class="top-cta-button home-b" type="button">Signup</button></a>
  </div>

  <div class="team text-center">
    <h2 class="text-center">Meet our Team</h2>
    <div class="member col-md-4">
      <div><%= image_tag("Rey.jpg") %></div>
      <div> Rey Leal </div>
      <div class="text-justify"></div>
    </div>
    <div class="member col-md-4">
      <div><%= image_tag("Vanessa.jpg") %></div>
      <div> Vanessa Muller </div>
      <div class="text-justify"></div>
    </div>
    <div class="member col-md-4">
      <div><%= image_tag("Nick.jpg") %></div>
      <div> Nick Cole </div>
      <div class="text-justify"></div>
    </div>
  </div>

<%= render partial: "footer" %>

</div>
