<div class="dealer">
<%= form_for :dealer, url: '/dealers' do |f| %>

  <%= f.text_field :dealer_name, placeholder: "Name" %>
  <%= f.text_field :company_name, placeholder: "Company Name" %>
  <%= f.text_field :address, placeholder: "Address" %>
  <%= f.text_field :email, placeholder: "Email" %>
  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
  <%= f.submit "Submit" %>

<% end %>
</div>
