<<<<<<< HEAD
<% require_relative '../../test.rb' %>
=======
>>>>>>> d3903f553330835c87ce9a86c076cb94025186a3

<div class="col-md-12 clearfix">
  <%= form_for(auction) do |f| %>
  Title: <%= f.text_field :title %><br/>
  Year: <%= f.number_field :year %><br/>
  Make: <%= f.text_field :make %><br/>
  Model: <%= f.text_field :model %><br/>
  Distance(in miles): <%= f.number_field :miles_from %><br/>
  Color: <%= f.text_field :color %><br/>
  Address: <%= f.text_field :address %><br/>
  Features: <%= f.text_area :features %><br/>
  Expiration Date: <%= f.date_field :expiration_date %><br/>
  <%= f.submit "Submit" %>
  <% end %>
</div>
