<div class="auction">

  <% year_array = ['Year'] %>
  <% year = 1940 %>
  <% while year <= 2016 do%>
  <%  year_array << year %>
  <% year += 1 %>
  <% end %>


  <div class="auction-all clearfix">
    <%= form_for @auction do |f| %>
    <%= f.text_field :title, placeholder: "Title", class:"auction-form" %><br/>
    <%= f.select :year, year_array %><br/>
    <%= f.select :make, ['Make'] %><br/>
    <%= f.select :model, ['Model'] %><br/>
    <%= f.select :miles_from, ['Select Dealership Range (in miles)',5,10,25,50], placeholder: "Dealership Distance" %><br/>
    <%= f.text_field :color , placeholder: "Color", class:"auction-form"%><br/>
    <%= f.text_area :features , placeholder: "Features", class:"auction-form"%><br/>
    <%= f.text_field :max_price, placeholder: "Maximum Price", class:"auction-form" %><br/>
    <%= f.text_field :address , placeholder: "Address", class:"auction-form"%><br/>
    <%= f.date_field :expiration_date, placeholder: "Expiration Date", class:"auction-form" %><br/>
    <%= f.submit "Submit", class:"auc-form-btn btn2" %> <a href="/"><button type="button" class="auc-form-btn btn2"name="button">Back</button></a>
    <% end %>


  </div>

</div>
