  <div class="container-fluid" id="home-container">
    <%= render partial: "header" %>

  <div class="user_info">
    <p><%= current_user.name %></p>
    <p><%= current_user.email %></p>
  </div>

  <% @auction.each do |f| %>
  Auction: <%= f.title %>
  <% end %>

  <div class="col-md-12 text-center">
    <a href="/"><button id="back" type="button">Back</button></a>
  </div>

  <%= render partial: "footer" %>

  </div>
