
<div class="container-fluid" id="home-container">
  <% if current_user %>
  <%= render partial: "header" %>


  <div class="show-auction-info text-center">
    <%= @auction.title%> <br/>
    <% if @auction.user_id = current_user %>
    <%= link_to 'Delete Auction', user_auction_url, method: :delete, data: { confirm: 'Are you sure?' }, id:"destroy" %>
    <% end %>
    <%= link_to 'Back', user_auctions_url(current_user), id:"back" %>
  </div>

  <%= render partial: "bot-about-us-pictures" %>

  <%= render partial: "footer" %>
<% end %>

</div>
