
<div class="container-fluid" id="home-container">
  <%= render partial: "layouts/deal_auc_header" %>


<% if @auctions.length > 0 %>
  <div class="panel-center col-md-12">

  <% @auctions.each do |f| %>
      <div class="panel col-md-6 col-md-offset-3 panel-warning">
        <div class="panel-heading clickable">
          <h3 class="panel-title"><%= f.title.capitalize %></h3>
            <span class="pull-right "><i class="glyphicon glyphicon-minus"></i></span>
          </div>
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Year</th>
                  <th>Make</th>
                  <th>Model</th>
                  <th>Max Price </th>
                  <th>Expiration Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= f.year%></td>
                  <td><%= f.make%></td>
                  <td><%= f.model%></td>
                  <td>$<%= f.max_price%></td>
                  <td><%= time_tag (f.expiration_date).to_date %></td>
                </tr>
              </tbody>
            </table>
            <div class="col-md-3 new-class-div">
            <%= link_to 'Show', user_auction_path(current_user, f.id), class:"new-class"  %>
            </div>
          </div>
        </div>
        <% end %>

      </div>
        <div>
          <%= link_to "<button class='top-cta-button btn-user-auc' type='button'>Back</button>".html_safe, '/', id:"back" %>
        </div>

      <% else %>
      <div class="bot-box text-center">
        <h3>It looks like you haven't created an auction yet</h3>
        <h4>Let's change that</h4>
        <button type="button" class="top-cta-button empty-auc" data-toggle="modal" data-target="#myModalauction">
        Create Auction
        </button></a>
      </div>
      <div>
        <%= link_to "<button class='top-cta-button btn-user-auc' type='button'>Back</button>".html_safe, '/', id:"back" %>
      </div>
      <% end %>

  </div>

  <%= render partial: "footer" %>

  <div id="myModalauction" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Auction</h4>
        </div>
        <div class="modal-body">
          <%= render "auctions/form" %>
        </div>

      </div>
    </div>
  </div>
