<div class="container-fluid" id="home-container">
  <% if current_user || current_dealer %>
  <%= render partial: "layouts/deal_auc_header" %>


  <div class="show-auction-info col-md-12 text-center">

    <div class="auction-show container">
      <div class="borderbottom"><h1><%= @auction.title.capitalize%></h1></div>
      <div class="auction-details"> <%= @auction.year%>
        <%= @auction.make%> |
        <%= @auction.model%> |
        Max Price $<%= @auction.max_price%> |
        <%= @auction.color.capitalize%> |
        Espires in: <%= distance_of_time_in_words(Time.now, @auction.expiration_date.to_time)%> |
        <button type="button" class="top-cta-button btn-user-auc view-more" data-toggle="modal" data-target="#myModalauctionshow">
          View More
        </a></div>

        <table class="table table-hover"  id="messages">
          <thead>
            <tr>
              <th>Bid Amount</th>
              <th>Company Name</th>
              <th>Dealer Name</th>
              <th>Email</th>
              <th>Time</th>
              <% if current_dealer %><th>Actions</th><% end %>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% if @auction.bids.empty? %>
              <td id="placeholder-bid">No bids have been posted yet.</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <% end %>
              <%= render partial: 'bids/bid'%>
            </tr>
          </tbody>
        </table>
        <% if current_dealer %>
        <%= render partial: 'bids/bid_form', locals: {bid: @bid, auction: @auction}%>
        <%= link_to "<button class='top-cta-button btn-user-auc back-btn' type='button'>Back</button>".html_safe, "/dealers/#{current_dealer.id}/auctions", id:"back" %>

        <% end %>

        <% if @auction.user_id = current_user %>
        <%= link_to "<button class='top-cta-button btn-user-auc' type='button'>Delete Auction</button>".html_safe,user_auction_url, method: :delete, data: { confirm: 'Are you sure?' }, id:"destroy" %>
        <%= link_to "<button class='top-cta-button btn-user-auc' type='button'>Back</button>".html_safe, user_auctions_url(current_user), id:"back" %>
        <% end %>
      </div>



    </div>
  </div>

  <%= render partial: "layouts/footer" %>
  <% end %>
</div>




<div id="myModalauctionshow" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Auction Information </h4>
      </div>
      <div class="modal-body">
        <ul class="auc_modal">
          <li class="auc_show">Vehicle Year: <%= @auction.year%></li><br>
          <hr>
          <li class="auc_show">Vehicle Make: <%= @auction.make%></li><br>
          <hr>
          <li class="auc_show">Vehicle Model: <%= @auction.model%></li><br>
          <hr>
          <li class="auc_show">Vehicle Color: <%= @auction.color.capitalize %></li><br>
          <% unless @auction.features.blank? %><hr>
          <li class="auc_show">Features: <%= @auction.features%></li><br> <% end %>
          <hr>
          <li class="auc_show">Auction Radius: <%= @auction.miles_from%> Miles</li><br>
          <hr>
          <li class="auc_show">Max Price: $<%= @auction.max_price%></li><br>
          <hr>
          <li class="auc_show">Expiration Date: <%= time_tag (@auction.expiration_date).to_date%></li><br>
          <hr>
        </ul>

      </div>
    </div>
  </div>
