<% if Time.now.to_i < @auction.expiration_date.to_time.to_i %>
<div class="container-fluid" id="home-container">
  <% if current_user || current_dealer %>
  <%= render partial: "layouts/deal_auc_header" %>


  <div class="show-auction-info col-md-12 text-center">

    <div class="auction-show container">
      <div class="borderbottom"><h1><%= @auction.title.capitalize%></h1></div>
      <h5><%= @auction.year%>
        <%= @auction.make%> |
        <%= @auction.model%> |
        <%= @auction.max_price%> |
        <%= @auction.color%> |

        <table class="table table-hover"  id="messages">
          <thead>
            <tr>
              <th>Bid Amount</th>
              <th>Company Name</th>
              <th>Dealer Name</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <%= render partial: 'bids/bid'%>
            </tr>
          </tbody>
        </table>
        <%= render partial: 'bids/bid_form', locals: {bid: @bid, auction: @auction}%>


        <% if @auction.user_id = current_user %>
        <%= link_to "<button class='top-cta-button btn-user-auc' type='button'>Delete Auction</button>".html_safe,user_auction_url, method: :delete, data: { confirm: 'Are you sure?' }, id:"destroy" %>
        <%= link_to "<button class='top-cta-button btn-user-auc' type='button'>Back</button>".html_safe, user_auctions_url(current_user), id:"back" %>
        <% end %>
      </div>



    </div>
  </div>

  <%= render partial: "footer" %>
  <% end %>
</div>


<!-- <div class="panel panel-default">
<%# if @auction.bids.any? %>
<div class="panel-body" id="messages">
<%# render partial: 'bids/bid', collection: @auction.bids%>
</div>
<%#else%>
<div class="panel-body hidden" id="messages">
</div>
<%#end%>
</div> -->




<div id="myModalauctionshow" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= @auction.title.capitalize%> </h4>
      </div>
      <div class="modal-body">
        <ul class="auc_modal">
          <li class="auc_show">year: <%= @auction.year%></li><br>
          <hr>
          <li class="auc_show">make: <%= @auction.make%></li><br>
          <hr>
          <li class="auc_show">model: <%= @auction.model%></li><br>
          <hr>
          <li class="auc_show">miles_from: <%= @auction.miles_from%></li><br>
          <hr>
          <li class="auc_show">color: <%= @auction.color%></li><br>
          <hr>
          <li class="auc_show">features: <%= @auction.features%></li><br>
          <hr>
          <li class="auc_show">max_price: <%= @auction.max_price%></li><br>
          <hr>
          <li class="auc_show">address: <%= @auction.address%></li><br>
          <hr>
          <li class="auc_show">expiration_date: <%= @auction.expiration_date%></li><br>
          <hr>
        </ul>

      </div>
    </div>
  </div>
  <% end %>
