<%= render partial: "layouts/header" %>

<div id="home-container">


  <% if current_user %>
  <div class="top-current text-center">
    <span class="cb-slideshow-login sp1">Image 01</span>
    <span class="cb-slideshow-login sp2">Image 02</span>
    <span class="cb-slideshow-login sp3">Image 03</span>

    <div class="list-current text-center cleafix" >
      <div class="sign-up-top text-center">
        <div class="font-a-user">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </div>
        <div class="text-top">
          <button type="button" class="top-cta-button btn-user edit" data-toggle="modal" data-target="#myModaledit">
            Edit
          </button></a>
        </div>
      </div>

      <div class="create-auction text-center">
        <div class="font-a-user">
          <i class="fa fa-gavel" aria-hidden="true"></i>
        </div>
        <div class="text-top">
          <button type="button" class="top-cta-button btn-user create" data-toggle="modal" data-target="#myModalauction">
            Create Auction
          </button>
        </div>
      </div>

      <div class="wait text-center">
        <div class="font-a-user">
          <i class="fa fa-binoculars" aria-hidden="true"></i>
        </div>
        <div class="text-top">
          <%=link_to "<button class='top-cta-button btn-user view' type='button'>View Auctions</button>".html_safe, user_auctions_url(current_user)%>
        </div>
      </div>
    </div>

    <div class="welcome">
      <p id="welcome-msg"> Welcome </p>
      <span class="username"><%=current_user.name.capitalize%>!</span>
    </div>
  </div>

  <% elsif current_dealer%>
  <div class="top-current text-center">
    <span class="cb-slideshow-login sp1">Image 01</span>
    <span class="cb-slideshow-login sp2">Image 02</span>
    <span class="cb-slideshow-login sp3">Image 03</span>

    <div class="list-current text-center cleafix" >
      <div class="sign-up-top text-center">
        <div class="font-a-dealer">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </div>
        <div class="text-top">
          <button type="button" class="top-cta-button btn-user edit" data-toggle="modal" data-target="#myModaleditdealer">
            Edit
          </button></a>
        </div>
      </div>

      <div class="wait text-center">
        <div class="font-a-dealer">
          <i class="fa fa-binoculars" aria-hidden="true"></i>
        </div>
        <div class="text-top">
          <%=link_to "<button class='top-cta-button btn-user view' type='button'>View Auctions</button>".html_safe, "/dealers/#{current_dealer.id}/auctions"%>
        </div>
      </div>
    </div>


    <div class="welcome">
      <p id="welcome-msg"> Welcome </p>
      <span class="username"><%=current_dealer.dealer_name.capitalize%>!</span>
    </div>
  </div>
  <% else %>

  <div class="top-current text-center ">
    <span class="cb-slideshow-logout sp1">Image 01</span>
    <span class="cb-slideshow-logout sp2">Image 02</span>
    <span class="cb-slideshow-logout sp3">Image 03</span>

    <div class="welcome">
      <p id="welcome-msg"> Auto-Bid</p>
    </div>

  </div>

  <div class="top text-center">
    <h3>Find Your Dream Car</h3>
    <h4>Sit back and let us do the work for you</h4>
    <p class="p-home">
      We created a very easy and convenient way to search for cars without even leaving your house
    </p>
  </div>

  <div class="list">
    <div class="sign-up col-md-4 text-center">
      <div class="font-a">
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>
      <div class="text">
        Sign up to start using our services
      </div>
    </div>

    <div class="create-auction col-md-4 text-center">
      <div class="font-a">
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
      </div>
      <div class="text">
        Create an auction for the car you want
      </div>
    </div>

    <div class="wait col-md-4 text-center">
      <div class="font-a">
        <i class="fa fa-magic" aria-hidden="true"></i>
      </div>
      <div class="text">
        Relax while your local dealers compete to give you the best price
      </div>
    </div>
  </div>


  <div class="start text-center">
    Start Looking for your dream car
    <button type="button" class="top-cta-button home-b" data-toggle="modal" data-target="#myModalregister">
      Register
    </button></a>
  </div>


  <%= render partial: "bot-about-us-pictures" %>
  <div class="clearfix footer-home">
    <%= render partial: "layouts/footer" %>

  </div>
  <% end %>

  <div id="myModaledit" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Profile</h4>
        </div>
        <div class="modal-body">
          <%= render "users/form" %>
        </div>

      </div>
    </div>
  </div>
  <div id="myModaleditdealer" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Profile</h4>
        </div>
        <div class="modal-body">
          <%= render "dealers/form" %>
        </div>

      </div>
    </div>
  </div>

  <div id="myModalauction" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Auction</h4>
        </div>
        <div class="modal-body">
          <%= render "auctions/form" %>
        </div>

      </div>
    </div>
  </div>
</div>
