
<!-- <div class="top-current"> -->

<nav class="navbar-fixed-top">

  <div class="col-sm-10">
    <ul class="nav nav-pills">
      <li class="logo" role="presentation"><a href="/"></a></li>
    </ul>
  </div>
  <% unless current_user || current_dealer %>
  <!-- Button trigger modal -->
  <div class="col-sm-2">
    <ul class="nav nav-pills">
      <li class="login-register">
        <button type="button" class="btn hvr-shutter-out-horizontal" data-toggle="modal" data-target="#myModallogin"> Login </button>
      </li>
      <li class="login-register">
        <button type="button" class="btn hvr-shutter-out-horizontal" data-toggle="modal" data-target="#myModalregister"> Register </button>
      </li>
    </ul>
  </div>
    <% else %>
      <div class="col-md-1">
        <ul class="nav nav-pills">
          <li role="presentation" class="active">
            <% if current_user %>
            <%= button_to "Logout", '/logout', method: :get, class:"btn hvr-shutter-out-horizontal" %>
            <% elsif current_dealer %>
              <%= link_to logout_dealer_path do %>
                <button type="button" class="btn hvr-shutter-out-horizontal" name="button">Logout</button>
              <% end %>
          </li>
            <% end %>
        <% end %>
        </ul>
  </div>
</nav>

<div class="modal fade" id="myModalregister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Register</h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs">
          <li class="nav active user-reg"><a class="user-reg" href="#A" data-toggle="tab">User Registration</a></li>
          <li class="nav dealer-reg"><a class="user-reg" href="#B" data-toggle="tab">Dealer Registration</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade in active" id="A"><%= render partial: "users/form"%></div>
          <div class="tab-pane fade" id="B"><%= render partial: "dealers/form" %></div>
          <div style="clear:both !important;"></div>
        </div>
      </div>
    </div>
  </div>
</div>


  <div id="myModallogin" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
          <%= render "sessions/form" %>
        </div>

      </div>

    </div>
  </div>
<!-- </div> -->
